extends layout

block content
  h3 Single poll page
  div(class="polls-container")
    div(id="" class="vote")
      form(id="", method="post", action="")
        each val in poll.data 
          input(type="radio" name=val.label)
          span= val.label
          br
        input(type="submit")
    canvas(id=poll.id width="420px" height="420px")
    div(id="" class="add_option")
      form(id="", method="post", action="/add/" + poll.id)
        label Don't like present options?
        br
        input(type="text" placeholder="Add your option")
        button(type="submit") Add
    div(id="" class="delete") 
      form(id="", method="post", action="/delete/" + poll.id)
        input(id="" type="hidden" name="delete_poll" required="true" value=poll.id)
        button(type=Submit) Delete
  script(type="text/javascript").
    const poll = !{JSON.stringify(poll)};
  script(src="/scripts/singlechart.js" type="text/javascript")
